COMPOSE_PROJECT_NAME=cmdbuild

CMDBUILD_VERSION=4.1.0
POSTGIS_VERSION=17-3.5-alpine

CMDBUILD_HTTP_PORT=8090
CMDBUILD_BIND_ADDRESS=0.0.0.0
POSTGRES_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=cmdbuild_4

CMDBUILD_DUMP=demo.dump.xz
JAVA_OPTS=-Xms2048m -Xmx4096m
